# ____REMOVE THIS LINE AFTER RENAMING sample.config.env to config.env ____
SESSION_ID=
MONGO_URI=
OWNER_NUMER=
THUMB_IMAGE = "https://telegra.ph/file/80ea336860e86084db365.jpg"
port = 5000
email = "aliasgher7616@gmail.com"
AUTO_BIO=false
global_url = "instagram.com"
OWNER_NAME = "ALIASGHER"
AUTO_REACTION = true
READ_MESSAGE = false
PREFIX = .
WARN_COUNT = 3
DISABLE_PM = false
ANTI_BAD_WORD = "fuck"
LEVEL_UP_MESSAGE= false
WELCOME_MESSAGE =  "*Hi,* @user \n*Welcome in* @gname \n*Member count* : @count th"
THEME= GOJO
WORKTYPE = public
"PACK_AUTHER": "ALI"
"PACK_NAME": "Wa-BOT"
ANTILINK_VALUES = "chat.whatsapp.com"
 
